<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.curso_php">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ReferActivity"></activity>
        <activity android:name=".multi_avan6" />
        <activity android:name=".multi_avan5" />
        <activity android:name=".multi_avan4" />
        <activity android:name=".multi_avan3" />
        <activity android:name=".multi_avan2" />
        <activity android:name=".multi_avan1" />
        <activity android:name=".multi_inter6" />
        <activity android:name=".multi_inter5" />
        <activity android:name=".multi_inter4" />
        <activity android:name=".multi_inter3" />
        <activity android:name=".multi_inter2" />
        <activity android:name=".multi_inter1" />
        <activity android:name=".multi6" />
        <activity android:name=".multi5" />
        <activity android:name=".multi4" />
        <activity android:name=".multi_avanzado" />
        <activity android:name=".multi_intermedio" />
        <activity android:name=".multi_basico" />
        <activity android:name=".tema11avaActivity" />
        <activity android:name=".multi3" />
        <activity android:name=".multi2" />
        <activity android:name=".tema20avaActivity" />
        <activity android:name=".tema19avaActivity" />
        <activity android:name=".tema18avaActivity" />
        <activity android:name=".tema17avaActivity" />
        <activity android:name=".tema16avaActivity" />
        <activity android:name=".tema15avaActivity" />
        <activity android:name=".tema14avaActivity" />
        <activity android:name=".tema13avaActivity" />
        <activity android:name=".tema12avaActivity" />
        <activity android:name=".multi1" />
        <activity android:name=".tema10avaActivity" />
        <activity android:name="curso_avanzado.activitys.tema9avaActivity" />
        <activity android:name="curso_avanzado.activitys.tema8avaActivity" />
        <activity android:name="curso_avanzado.activitys.tema7avaActivity" />
        <activity android:name="curso_avanzado.activitys.tema6avaActivity" />
        <activity android:name="curso_avanzado.activitys.tema5avaActivity" />
        <activity android:name="curso_avanzado.activitys.tema4avaActivity" />
        <activity android:name="curso_avanzado.activitys.tema3avaActivity" />
        <activity android:name="curso_avanzado.activitys.tema2avaActivity" />
        <activity android:name="curso_intermedio.activitys.tema20inActivity" />
        <activity android:name="curso_intermedio.activitys.tema19inActivity" />
        <activity android:name="curso_intermedio.activitys.tema18inActivity" />
        <activity android:name="curso_intermedio.activitys.tema17inActivity" />
        <activity android:name="curso_intermedio.activitys.tema16inActivity" />
        <activity android:name="curso_intermedio.activitys.tema15inActivity" />
        <activity android:name="curso_intermedio.activitys.tema14inActivity" />
        <activity android:name="curso_intermedio.activitys.tema13inActivity" />
        <activity android:name="curso_intermedio.activitys.tema12inActivity" />
        <activity android:name="curso_intermedio.activitys.tema11inActivity" />
        <activity android:name="curso_avanzado.activitys.tema1avaActivity" />
        <activity android:name="curso_intermedio.activitys.tema10inActivity" />
        <activity android:name="curso_intermedio.activitys.tema9inActivity" />
        <activity android:name="curso_intermedio.activitys.tema8inActivity" />
        <activity android:name="curso_intermedio.activitys.tema7inActivity" />
        <activity android:name="curso_basico.activitys.tema30Activity" />
        <activity android:name="curso_basico.activitys.tema29Activity" />
        <activity android:name="curso_basico.activitys.tema28Activity" />
        <activity android:name="curso_basico.activitys.tema27Activity" />
        <activity android:name="curso_basico.activitys.tema26Activity" />
        <activity android:name="curso_basico.activitys.tema25Activity" />
        <activity android:name="curso_basico.activitys.tema24Activity" />
        <activity android:name="curso_basico.activitys.tema23Activity" />
        <activity android:name="curso_basico.activitys.tema22Activity" />
        <activity android:name="curso_basico.activitys.tema21Activity" />
        <activity android:name="curso_basico.activitys.tema20Activity" />
        <activity android:name="curso_basico.activitys.tema19Activity" />
        <activity android:name="curso_basico.activitys.tema18Activity" />
        <activity android:name="curso_basico.activitys.tema17Activity" />
        <activity android:name="curso_basico.activitys.tema16Activity" />
        <activity android:name="curso_basico.activitys.tema15Activity" />
        <activity android:name="curso_basico.activitys.tema14Activity" />
        <activity android:name="curso_basico.activitys.tema13Activity" />
        <activity android:name="curso_basico.activitys.tema12Activity" />
        <activity android:name="curso_basico.activitys.tema11Activity" />
        <activity android:name="curso_basico.activitys.tema10Activity" />
        <activity android:name="curso_basico.activitys.tema9Activity" />
        <activity android:name="curso_intermedio.activitys.tema6inActivity" />
        <activity android:name="curso_intermedio.activitys.tema5inActivity" />
        <activity android:name="curso_basico.activitys.tema8Activity" />
        <activity android:name="curso_basico.activitys.tema7Activity" />
        <activity android:name="curso_basico.activitys.tema6Activity" />
        <activity android:name="curso_intermedio.activitys.tema4inActivity" />
        <activity android:name="curso_intermedio.activitys.tema3inActivity" />
        <activity android:name="curso_intermedio.activitys.tema2inActivity" />
        <activity android:name="curso_basico.activitys.tema5Activity" />
        <activity android:name="curso_basico.activitys.tema4Activity" />
        <activity android:name="curso_basico.activitys.tema3Activity" />
        <activity android:name="curso_basico.activitys.tema2Activity" />
        <activity android:name="curso_intermedio.activitys.temai_1" />
        <activity android:name="curso_basico.activitys.tema1" />
        <activity android:name=".contenido_avanzado" />
        <activity android:name=".contenido_intermedio" />
        <activity android:name=".contenido_basico" />
        <activity android:name=".acerca_de" />
        <activity android:name=".Curso" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>